* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(166, 188, 201);
    display: flex;
    justify-content: center;
    align-items: center;

}

.clock {
    position:absolute;
    height: 450px;
    width: 450px;
    border: 2px solid rgb(95, 136, 248);
    border-radius: 225px;
}

#sek-zeiger {
    position: absolute;
    left: 223px;
    bottom: 223px;
    height: 200px;
    width:4px;
    background-color: blueviolet;
    transform-origin: 0 100%;

}

#min-zeiger {
    position: absolute;
    left: 222px;
    bottom: 222px;
    height: 185px;
    width:6px;
    background-color: rgb(175, 47, 15);
    transform-origin: 0 100%;

}

#std-zeiger {
    position: absolute;
    left: 220px;
    bottom: 220px;
    height: 140px;
    width:10px;
    background-color: lime;
    transform-origin: 0 100%;

}

#middle {
    position: absolute;
    left: 205px;
    bottom: 205px;
    width: 40px;
    height:40px;
    background-color:#fff;
    border-radius: 50%;
}